.idea
idea

*.log
*.pot


__pychache__
*/__pychache__/
*.pyc
.pyc

media/*
!*media

.coverage

db.sqlite3

**/migrations/**
!**/migrations
!**/migrations/__init__.py


mysite/secret_key.py
news_cache/


venv/
.env
.venv
