{% extends 'base.html' %}
{% load static %}

{% block title %}

{{ title }} :: {{ block.super }}

{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html'%}
{% endblock %}

{% block content %}


    <div class="card mb-3">
        <div class="card-header">
            Категория: <a href="{{ news.category.get_absolute_url }}"> {{ news.category }} </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ news.title }}</h5>
            <div class="media">
                {% if news.photo %}
                <img src='{{ item.photo.url}}' alt="" width="400" class="mr-5" align="left">
                {% else %}
                <img src='{% static 'photo/default_news_photo.jpg' %}' alt="" width="400" class="mr-5" align="left">
                {% endif %}
                <div class="media-body">
                    <p class="card-text">{{ news.content}}</p>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            {{ news.created_at|date:"Y-m-d H:i:s" }} | Просмотров: {{news.views}}
        </div>
    </div>


{% endblock %}
