{% extends 'base.html' %}
{% load static %}

{% block title %}

{{ news_item.title }} :: {{ block.super }}

{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html'%}
{% endblock %}

<h1>Результат поиска</h1>

{% block content %}

    {% for news_item in news%}

    <div class="card mb-3">
        <div class="card-header">
            Категория: <a href="{{ news_item.category.get_absolute_url }}"> {{ news_item.category }} </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ news_item.title }}</h5>
            <div class="media">
                {% if news_item.photo %}
                <img src='{{ news_item.photo.url}}' alt="" width="400" class="mr-2" align="left">
                {% else %}
                <img src='{% static 'photo/default_news_photo.jpg' %}' alt="" width="400" class="mr-5" align="left">
                {% endif %}
                <div class="media-body">
                    <p class="card-text">{{ news_item.content|safe|linebreaks|truncatewords:60 }}</p>
                    <a href="{{ news_item.get_absolute_url }}" class="btn btn-warning" style="color: #495057; right: 50">Читать далее...</a>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            {{ news_item.created_at|date:"Y-m-d H:i:s" }} | Просмотров: {{ news_item.views }}
        </div>
    </div>
    {% endfor %}

{% endblock %}
