<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e9ecef">
    <div class="container-fluid">
        <a class="navbar-brand mb-2" href="{% url 'home' %}">World News</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-30>
        <li class=" nav-item
            ">
            <a class="nav-link active mt-2" aria-current="page" href="{% url 'home' %}">Главная</a>
            {% if request.user.is_authenticated %}
            <a class="nav-link active mt-2" aria-current="page" href="{% url 'add_news' %}">Добавить новость</a>
            {% endif %}
            <a class="nav-link active mt-2" aria-current="page" href="{% url 'sending_mail' %}">Обратная связь</a>

            <form action="{% url 'search' %}" method="get">
                <input name="q" class="form-control rounded mt-2" type="text" placeholder="Search...">
            </form>

            </li>
            </ul>

            {% if request.user.is_authenticated %}
            Вы вошли как {{ user.username }} | <a href="{% url 'logout' %}">Выход</a>
            {% else %}
            <span class="navbar-text">
            <a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Авторизация</a>
            </span>
            {% endif %}
        </div>
    </div>
</nav>